data.csv
datamin.csv

out_question1/
out_question2/
out_question3/
out_question4/
out_question5/
out_question3_M/
out_question3_P/

Classeur1.xlsx
out1.xlsx
out2.xlsx
out3.xlsx
out4.xlsx
out5.xlsx

out1.txt
out2.txt
out3M.txt
out3P.txt
out4.txt
out5.txt